.card-main-div{
	/* border: 5px solid black; */
}
.big-img-set{
	border-radius: 10px;

}
.smlimg-div-set{
	gap: 1px;
	
}

.smlImgSet{
	width: 19% !important ;
	display: inline-block;
	border-radius: 5px !important;

}

.btn {

    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;


}

.btn:hover {
    text-decoration: none;
}

.effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
}

.effect04::before,
.effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}


.effect04:hover {
    background-color: #000 !important;
}


.effect04:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
}


.effect04::before {
    content: attr(data-sm-link-text);
    color: #ffffff;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 25px;
    -webkit-transform: translateY(500%) scale(0, 20);
    transform: translateY(500%) scale(0, 20);
}


.effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}
